.main {
    border: 3px solid orangered;
    margin: 50px 450px 100px 450px;
    padding: 20px;
    border-radius: 15px;
    text-align: auto;
    background-color: white;
    opacity: 90%;
}

hr {
    border: 1.5px solid orangered;
}

h2,
p {
    text-align: center;
}

h2 {
    color: orangered;
    font-weight: bold;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://img.freepik.com/free-vector/businessman-planning-events-deadlines-agenda_74855-6274.jpg?w=1060&t=st=1699025824~exp=1699026424~hmac=e2a49a5402efccceaf363aedfc84af1b83ad57f67c0cc49370187d74fb706f55);
}

input {
    width: 100%;
    padding: 5px;
}

.datetime-inputs {
    display: flex;
}

#date {
    margin-right: 20px;
}

button {
    background-color: orangered;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    width: 100%;
}